<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <!-- CSS only -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/main.css">
    <link rel="stylesheet" href="/css/configure.css">
</head>

<body>
    <div class="container">
        <h4>Hello Oliver, one more step to go ! 😇</h4>
        <span>Tell us more about yourself to have the best experience with us</span>
        <div class="form-container">
            <form action="/home" method="POST" autocomplete="off">
                <span>Your type(s) of car</span>
                <ul class="carType">
                    <li class="col-4 ">
                        <input type="checkbox" name="" id="vehicle1">
                        <div class="icon-box">
                            <label for="vehicle1" class="">
                                <ion-icon name="car-sport-outline"></ion-icon>
                            </label>
                        </div>
                    </li>
                    <li class="col-4">
                        <input type="checkbox" name="" id="vehicle2">
                        <div class="icon-box">
                            <label for="vehicle2" class="">
                                <ion-icon name="car-outline"></ion-icon>
                            </label>
                        </div>
                    </li>
                    <li class="col-4">
                        <input type="checkbox" name="" id="vehicle3">
                        <div class="icon-box">
                            <label for="vehicle3" class="">
                                <ion-icon name="bus-outline"></ion-icon>
                            </label>
                        </div>
                    </li>
                </ul>
                <span>Your car(s) brand</span>
                <div class="check-box__container">
                    <ul class="ks-cboxtags">
                        <li><input type="checkbox" id="checkboxOne" value="Rainbow Dash"><label
                                for="checkboxOne">Meredes</label></li>
                        <li><input type="checkbox" id="checkboxTwo" value="Cotton Candy"><label
                                for="checkboxTwo">BMW</label></li>
                        <li><input type="checkbox" id="checkboxThree" value="Rarity"><label
                                for="checkboxThree">VolksWagen</label></li>
                        <li><input type="checkbox" id="checkboxFour" value="Moondancer"><label
                                for="checkboxFour">Isuzu</label></li>
                        <li><input type="checkbox" id="checkboxFive" value="Surprise"><label
                                for="checkboxFive">Toyota</label></li>
                        <li><input type="checkbox" id="checkboxSix" value="Twilight Sparkle"><label
                                for="checkboxSix">Suzuki</label></li>
                        <li><input type="checkbox" id="checkboxSeven" value="Fluttershy"><label for="checkboxSeven">Land
                                Rover</label></li>
                        <li><input type="checkbox" id="checkboxEight" value="Derpy Hooves"><label
                                for="checkboxEight">Subaru</label></li>
                        <li><input type="checkbox" id="checkboxNine" value="Princess Celestia"><label
                                for="checkboxNine">Nissan</label></li>
                        <li><input type="checkbox" id="checkboxTen" value="Gusty"><label for="checkboxTen">Gusty</label>
                        </li>
                        <li class="ks-selected"><input type="checkbox" id="checkboxEleven" value="Discord"><label
                                for="checkboxEleven">Peugot</label></li>
                        <li><input type="checkbox" id="checkboxTwelve" value="Clover"><label
                                for="checkboxTwelve">Mitsubishi</label></li>
                        <li><input type="checkbox" id="checkboxThirteen" value="Baby Moondancer"><label
                                for="checkboxThirteen">Mazda</label></li>
                        <li><input type="checkbox" id="checkboxFourteen" value="Medley"><label
                                for="checkboxFourteen">Lexus</label></li>
                        <li><input type="checkbox" id="checkboxFifteen" value="Firefly"><label
                                for="checkboxFifteen">Audi</label></li>
                        <li><input type="checkbox" id="checkboxSixteen" value="Firefly"><label
                                for="checkboxSixteen">Ford</label></li>
                        <li><input type="checkbox" id="checkboxSeventeen" value="Firefly"><label
                                for="checkboxSeventeen">Kia</label></li>
                        <li><input type="checkbox" id="checkboxEighteen" value="Firefly"><label
                                for="checkboxEighteen">Tesla</label></li>
                    </ul>
                </div>
                <button type="submit" class="btn btn-primary">welcome 🎊🎊🎊</button>
            </form>
        </div>
    </div>
    </footer>
    <!-- ionicons -->
    <script type="module" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.esm.js"></script>
    <script nomodule="" src="https://unpkg.com/ionicons@5.1.2/dist/ionicons/ionicons.js"></script>
    <!-- JS, Popper.js, and jQuery -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
        integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
        integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"
        integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8shuf57BaghqFfPlYxofvL8/KUEfYiJOMMV+rV" crossorigin="anonymous">
    </script>
</body>

</html>