<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/password.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container passwordPage">
        <div class="top-nav">
            <a href="/profile"><ion-icon name="chevron-back-outline"></ion-icon></a>
            <p>Change Password</p>
        </div>
        <form action="" class="form-changePassword">
            <input type="password" placeholder="old password">
            <input type="password" placeholder="new password">
            <input type="password" placeholder="Confirm new password">
        </form>
    </div>
    <%- include('../includes/end.ejs')%>