<%- include('../includes/start.ejs')%>
<link rel="stylesheet" href="/css/admin.css">
<link rel="stylesheet" href="/css/home.css">
</head>

<body>
    <%- include('../includes/adminnav.ejs')%>
    <div class="container main-container">
        <div class="top-nav">
            <p>ENGINEAR</p>
            <!-- <div class="search-container">
                <input type="text" name="search" id="" placeholder="Search">
            </div> -->
            <a href="/chat">
                <ion-icon name="paper-plane-outline"></ion-icon>
            </a>
        </div>
        <div class="main-user__container-block">
            <div class="user-container">
                <div class="user-container__profile">
                    <div class="user-container__profile_header">
                        <div class="profile-header__name">
                            <img src="/images/ClipartKey_297748.png" alt="">
                            <p>Oliver Njuguna</p>
                        </div>
                    </div>
                    <hr>
                    <div class="user-container__profile-body">
                        <div>
                            <p>Jobs done: </p><span>2000</span>
                        </div>
                        <div>
                            <p>Rating: </p><span>5</span>
                        </div>
                    </div>
                    <div class="user-container__profile-footer">
                        <ul>
                            <li>
                                <ion-icon name="person-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="heart-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="briefcase-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="user-container">
                <div class="user-container__profile">
                    <div class="user-container__profile_header">
                        <div class="profile-header__name">
                            <img src="/images/ClipartKey_297748.png" alt="">
                            <p>Oliver Njuguna</p>
                        </div>
                    </div>
                    <hr>
                    <div class="user-container__profile-body">
                        <div>
                            <p>Jobs done: </p><span>2000</span>
                        </div>
                        <div>
                            <p>Rating: </p><span>5</span>
                        </div>
                    </div>
                    <div class="user-container__profile-footer">
                        <ul>
                            <li>
                                <ion-icon name="person-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="heart-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="briefcase-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="user-container">
                <div class="user-container__profile">
                    <div class="user-container__profile_header">
                        <div class="profile-header__name">
                            <img src="/images/ClipartKey_297748.png" alt="">
                            <p>Oliver Njuguna</p>
                        </div>
                    </div>
                    <hr>
                    <div class="user-container__profile-body">
                        <div>
                            <p>Jobs done: </p><span>2000</span>
                        </div>
                        <div>
                            <p>Rating: </p><span>5</span>
                        </div>
                    </div>
                    <div class="user-container__profile-footer">
                        <ul>
                            <li>
                                <ion-icon name="person-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="heart-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="briefcase-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="user-container">
                <div class="user-container__profile">
                    <div class="user-container__profile_header">
                        <div class="profile-header__name">
                            <img src="/images/ClipartKey_297748.png" alt="">
                            <p>Oliver Njuguna</p>
                        </div>
                    </div>
                    <hr>
                    <div class="user-container__profile-body">
                        <div>
                            <p>Jobs done: </p><span>2000</span>
                        </div>
                        <div>
                            <p>Rating: </p><span>5</span>
                        </div>
                    </div>
                    <div class="user-container__profile-footer">
                        <ul>
                            <li>
                                <ion-icon name="person-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="heart-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="briefcase-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div><div class="user-container">
                <div class="user-container__profile">
                    <div class="user-container__profile_header">
                        <div class="profile-header__name">
                            <img src="/images/ClipartKey_297748.png" alt="">
                            <p>Oliver Njuguna</p>
                        </div>
                    </div>
                    <hr>
                    <div class="user-container__profile-body">
                        <div>
                            <p>Jobs done: </p><span>2000</span>
                        </div>
                        <div>
                            <p>Rating: </p><span>5</span>
                        </div>
                    </div>
                    <div class="user-container__profile-footer">
                        <ul>
                            <li>
                                <ion-icon name="person-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="heart-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="paper-plane-outline"></ion-icon>
                            </li>
                            <li>
                                <ion-icon name="briefcase-outline"></ion-icon>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <%- include('../includes/bottomnav.ejs')%>
    <script src="/js/profile.js"></script>
    <%- include('../includes/end.ejs')%>