<div class="nav-container top-navigation">
    <div class="container container-nav">
        <div class="row admin-nav">
            <div class="col-6 flex-row justify-content-start align-items-center">
                <span><strong>ENGINEAR</strong></span>
            </div>
            <div class="col-6">
                <ul class="d-flex flex-row justify-content-end align-items-center">
                    <a href="/home">
                        <li>
                            <ion-icon name="home-outline"></ion-icon>
                        </li>
                    </a>
                    <a href="/chat">
                        <li>
                            <ion-icon name="paper-plane-outline"></ion-icon>
                        </li>
                    </a>
                    <a href="/favorites">
                        <li>
                            <ion-icon name="heart-outline"></ion-icon>
                        </li>
                    </a>
                    <a href="/profile">
                        <li>
                            <img src="../<%=user.profile_pic%>" alt="">
                        </li>
                    </a>
                </ul>
            </div>
        </div>
    </div>
    <div class="admin-hr">
        <hr>
    </div>
</div>