<div class="nav-container bottom-nav">
    <div class="admin-hr">
        <hr>
    </div>
    <div class="container-bottom__nav">
        <ul class="d-flex flex-row justify-content-between align-items-center">
            <div class="col-3">
                <% if(user.account_uid !== "fbb3f0eb-a8a3-4ecc-8e44-5a92d15e7b7e"){ %>
                <a href="/">
                    <li>
                        <% if (path === '/home') { %>
                        <ion-icon name="home"></ion-icon>
                        <% } else {%>
                        <ion-icon name="home-outline"></ion-icon>
                        <% } %>
                    </li>
                </a>
                <% } else { %>
                <a href="/home">
                    <li>
                        <% if (path === '/home') { %>
                        <ion-icon name="home"></ion-icon>
                        <% } else {%>
                        <ion-icon name="home-outline"></ion-icon>
                        <% } %>
                    </li>
                </a>
                <% } %>
            </div>
            <div class="col-3">
                <a href="/chat">
                    <li>
                        <% if (path === '/chat') { %>
                        <ion-icon name="paper-plane"></ion-icon>
                        <% } else {%>
                        <ion-icon name="paper-plane-outline"></ion-icon>
                        <% } %>
                    </li>
                </a>
            </div>
            <div class="col-3">
                <a href="/favorites">
                    <li>
                        <% if (path === '/favorite') { %>
                        <ion-icon name="heart" style="color: orangered;"></ion-icon>
                        <% } else {%>
                        <ion-icon name="heart-outline"></ion-icon>
                        <% } %>
                    </li>
                </a>
            </div>
            <div class="col-3">
                <a href="/profile">
                    <li>
                        <img src="../<%=user.profile_pic%>" alt="">
                    </li>
                </a>
            </div>
        </ul>
    </div>
</div>