@import url('https://fonts.googleapis.com/css2?family=Parisienne&family=Source+Code+Pro:wght@700&display=swap');

body {
  color: white;
  font-weight: bold;
  font-family: source code pro;
  background-color: #2E3440;
}

a, h1 {
  color: #b37775;
}