header {
    width: 100%;
    margin: .5rem auto;
    color: var(--white);
}

header hr{
    border-width: 1rem;
}

.header-container{
    margin: 1rem auto;
}

@media screen and (min-width: 768px) {
    .header-sub__title{
        width: 55%;
    }
}

.our-services{
    margin: 1rem auto;
    color: var(--white);
}

.our-services__container{
    margin: 2rem 0;
}

.our-services h4{
    text-align: center;
}

img{
    width: 100%;
}

.our-services-container .col{
    width: 100%;
}

@media screen and (min-width: 768px) {
    .our-services-container .col{
        max-width: 50%;
    }
}