.passwordPage {
    padding: 0;
    height: calc(100vh - 50px);
    overflow-y: auto;
}

form {
    margin: auto;
    width: 80%;
    max-width: 300px;
    padding: .5rem;
}

.profile-image {
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin: auto;
}

input,
select,
option {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    padding: .5rem;
    margin: .5rem 0;
    width: 100%;
}

input:focus,
input:active {
    outline: none;
}

@media screen and (min-width: 768px) {
    .top-nav {
        display: none;
    }
}