.profilePage {
    padding: 0;
    overflow-y: hidden;
    height: calc(100% - 51px);
    width: 170vw;
    transition: transform .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    display: grid;
    grid-template-columns: 100vw 70vw;
    /* overflow-x: hidden; */
}

.move-left {
    transform: translateX(-70vw);
}

.profile-container {
    height: calc(100%);
    background-color: #f8f8f8;
}

.contacts-profile {
    display: flex;
    align-items: center;
    padding: .5rem 0;
}

.contacts-profile img {
    width: 50px;
    margin: 0 5px;
}

.contacts-profile p {
    padding: 0;
    margin: 0;
}

.phone {
    margin-top: -2px;
}

.desktopcog {
    cursor: pointer;
}

.contacts-profile button {
    font-weight: 500;
    font-size: .8rem;
    color: var(--gray);
    width: 80%;
    max-width: 150px;
    border: 1px solid #dbdbdb;
    border-radius: 2px;
}

.contacts-profile button:focus {
    outline: none;
}

.contacts-profile button:active {
    outline: none;
    transform: scale(0.98);
}

.contacts-profile img {
    width: 80px;
}

.contact-info {
    width: calc(100% - 120px);
    margin: auto;
}

.contact-info span {
    font-size: 1rem;
    display: block;
    font-weight: 400;
}

.contact-info span:first-child {
    font-weight: 500;
}

.contact-info__name ion-icon {
    height: 0;
    transform: scale(0);
    visibility: hidden;
}

.profile-stats {
    max-width: 100vw;
    /* margin: auto; */
    display: flex;
    justify-content: space-around;
    text-align: center;
    border-top: 1px solid #dbdbdb;
    border-bottom: 1px solid #dbdbdb;
}

.profile-stat p {
    padding: 0;
    margin: 0;
    font-size: 1rem;
    font-weight: 400;
}

.profile-stat small {
    padding: 0;
    margin: 0;
    color: #8a8a8a;
}

.profile-details {
    height: calc(100vh - 248px);
    padding: .5rem;
}

.profile-details h6 {
    color: var(--black);
}

.profile-details p {
    color: #8a8a8a;
    font-size: 1rem;
    font-weight: 400;
}

.none {
    height: 0;
    transform: scale(0);
}

.settings-container {
    max-width: 70vw;
}

.settings-container .top-nav {
    max-width: 70vw;
}

.settings-list li {
    min-height: 50px;
    display: flex;
    align-items: center;
    justify-content: start;
    border-bottom: 1px solid #dbdbdb;
    color: var(--black);
}

.settings-list li ion-icon {
    padding-right: .5rem;
    padding-left: .2rem;
    padding-bottom: .2rem;
    font-size: 1.5rem;
}

.jobs-comments {
    height: calc(100% - 187px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.jobs-comments-container {
    height: calc(100% - 50px);
    width: 100%;
    overflow-x: hidden;
    overflow-y: auto;
}

.jobs-comments__section {
    height: calc(100% - 105px);
    width: 200%;
    transform: translateX(0);
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 1fr 1fr;
    transition: transform .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
}

.jobs-comments__section.moveSideways {
    transform: translateX(-50%);
}

.comments-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .5rem;
    padding: .5rem;
    height: 100%;
    align-content: stretch;
}

.jobs-container {
    width: 100%;
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: .5rem;
    padding: .5rem;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
}

.job-container {
    border: 1px solid #dbdbdb;
    border-radius: 5px;
    height: fit-content;
    max-height: 200px;
    width: 100%;
    overflow-x: hidden;
}

.job-container__header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
    padding: .5rem 0;
}

.job-container__body {
    width: 300%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: repeat(3, minmax(250px, 1fr));
    transform: translateX(0);
    transition: transform .5s;
}

.job-container__footer {
    padding: .5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #dbdbdb;
}

.job-container__footer button:last-child {
    border: 1px solid #dbdbdb;
    font-size: .85rem;
    border-radius: 3px;
    min-width: 80px;
    font-weight: 500;
    background-color: var(--blue);
    color: var(--white);
}

.job-container__footer button:first-child {
    border: 1px solid #dbdbdb;
    font-size: .85rem;
    border-radius: 3px;
    min-width: 80px;
    font-weight: 500;
    background-color: var(--teal);
    color: var(--white);
}

.job-contents,
.see-review__contents,
.see-feedback__contents {
    padding: .5rem 1rem;
}

.job-container__footer button:active,
.job-container__footer button:focus {
    outline: none;
}

.job-container ion-icon {
    height: 24px;
    font-size: 32px;
}

.job-container span {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
    color: var(--gray);
}

.job-container p {
    font-size: 1rem;
    font-weight: 400;
    padding: 0;
    margin: 0;
}

.section-nav {
    display: flex;
    justify-content: space-around;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid #dbdbdb;
}

.section-nav a {
    width: 50%;
    text-align: center;
}

.section-nav ion-icon {
    font-size: 24px;
    height: 32px;
}

@media screen and (min-width: 768px) {
    .profilePage {
        border: 1px solid #dbdbdb;
        width: 100%;
        grid-template-columns: 100%;
        overflow-x: hidden;
    }

    .profile-container {
        background-color: var(--white);
        width: 100%;
        overflow-y: hidden;
    }

    .settings-container {
        display: none;
        visibility: hidden;
    }

    .top-nav {
        display: none;
    }

    .contact-info__name p {
        display: inline;
        margin-right: 2rem;
    }

    .contact-info__name {
        position: relative;
    }

    .contact-info__name ion-icon {
        position: absolute;
        top: 10px;
        right: 10px;
        visibility: visible;
        transform: scale(1);
        font-size: 24px;
        height: 32px;
    }

    .contacts-profile {
        margin: 0 auto;
        border-bottom: 1px solid #dbdbdb;
        padding-bottom: 2rem;
        justify-content: center;
    }

    .profile-details {
        width: 80%;
        margin: auto;
        padding-left: 0;
        padding-right: 0;
    }

    .none {
        transform: scale(1);
        height: fit-content;
        border: none;
        max-width: 25%;
        justify-content: space-between;
    }

    .none .profile-stat p,
    .none .profile-stat small {
        display: inline;
    }

    .phone {
        display: none;
    }

    .profilePage {
        height: calc(100vh - 70px);
    }

    .jobs-comments {
        height: calc(100% - 137px);
    }

    .jobs-comments__section {
        height: calc(100% - 55px);
    }
}

.modal-bg,
.modal-bg2,
.modal-bg3 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s opacity 0.5s;
}

.bg-active {
    visibility: visible;
    opacity: 1;
}

.commentmodal,
.feedbackmodal,
.settingsmodal {
    background-color: var(--white);
    min-width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: .5rem;
    border-radius: 7px;
    position: relative;
}

.settingsmodal {
    align-items: flex-start;
    padding: 1rem 2rem;
}

.settingsmodal a:not(:last-child) {
    margin: .5rem 0;
    width: 100%;
    padding: 0;
}

.settingsmodal a:not(.not) {
    border-bottom: 1px solid #dbdbdb;
}

.comment-form,
.feedback-form {
    width: 80%;
    margin: auto;
    padding: .5rem;
    text-align: center;
}

.comment-form label,
.feedback-form label {
    text-align: left;
}

.comment-form p,
.feedback-form p {
    font-size: 1rem;
    font-weight: 400;
}

.comment-form input,
.comment-form textarea,
.feedback-form input,
.feedback-form textarea {
    border: 1px solid var(--gray);
    padding: 3px 5px;
    margin: 5px 0;
    width: 100%;
}

.modal-close,
.modal-close3,
.modal-close5 {
    position: absolute;
    top: 20px;
    right: 10px;
    cursor: pointer;
}

.job-review {
    border: 1px solid #dbdbdb;
    border-radius: 7px;
    max-height: 250px;
    align-self: stretch;
}

.job-review .job-feedback {
    border: 1px solid #dbdbdb;
    border: none;
    border-left: 2px solid #dbdbdb;
    margin: 0 auto .5rem auto;
    background-color: #efefef;
    width: 90%;
}

span.checked {
    color: var(--orange);
}

.announcement {
    color: var(--white);
    background-color: var(--blue);
    display: flex;
    align-items: center;
    border-radius: 25px;
    padding: .5rem;
    height: fit-content;
}

.announcement p{
    font-weight: 400;
    font-size: 1rem;
}

.invis{
    background-color: transparent;
    border: none;
    display: flex;
    align-items: center;
}

.invis:active,
.invis:focus{
    outline: none;
}