<html>
<head>
    <link rel="stylesheet" href="/css/error.css">
</head>
<body>
    <div align="center">
        <h1>*500*</h1>
        <p>Oops! Something went wrong...<br>
            Do you wanna go back <a href="/">home</a>?</p>
    </div>
</body>

</html>