<%- include('../includes/head.ejs')%>
<div class="container bg-white">
    <header>
        <div class="header-container">
            <div class="header-title">
                <h2>Who are we ?</h2>
            </div>
        </div>
    </header>
    <div class="about">
        <h5>Our History</h5>
        <div class="row">
            <div class="col-md-6">
                <img src="/images/pranav-thombare-2lcwfg7lq7A-unsplash.jpg" alt="">
            </div>
            <div class="col-md-6">
                <p>
                    Engin-near is a company that was started in campus as a school project. It was not much really, but
                    It
                    quickly gained popularity when some of the Campus students started trying it out to see some of it's
                    cool
                    featueres like chatting. Word of the app quickly spread and so the small project was made into a
                    full
                    functioning app that helps people all across then world
                </p>
            </div>
        </div>
        <h5>Our Goals</h5>
        <div class="row">
            <div class="col-md-6">
                <p>
                    Well, our goal was to get really good grades at our school project but when this became a hit we
                    redefined
                    our goal and we focused on three primary objectives:
                </p>
            </div>
            <div class="col-md-6">
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">Improve the quality of car mechanic services by making sure only the
                        best rise
                        up.</li>
                    <li class="list-group-item">Reduce the time between car malfunction and car repair.</li>
                    <li class="list-group-item">Providing a platform that allows fast and easy clicks between a
                        professional
                        mechanic and a
                        client in need of quality services</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer.ejs')%>