<%- include('../includes/head.ejs')%>

<div class="container">
    <header>
        <div class="header-container">
            <div class="header-title">
                <h2>Get your car fixed like Pap !</h2>
            </div>
            <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
            <div class="header-sub__title">
                <h6>Engine-near is a platform to connect the best car mechanics and clinets, fast, like
                    pap!</h6>
            </div>
        </div>
        <a class="btn btn-primary">About us</a>
    </header>
    <div class="our-services">
        <h4>Our services</h4>
        <div class="row our-services__container align-items-center">
            <div class="col-sm-6">
                <img src="/images/neonbrand-2K_-PG95qlI-unsplash.jpg" alt="">
            </div>
            <div class="col-sm-6">
                <h5>
                    Offering best mechanics
                </h5>
                <p>Get connected with the best car owners around you for the best solutions for your vehicle.</p>
                <a class="btn btn-primary">Get mechanic</a>
            </div>
        </div>
        <div class="row our-services__container align-items-center">
            <div class="col-sm-6">
                <h5>
                    Solving clients' mechanical problems
                </h5>
                <p>Get connected with the clients from around you and provide your services ASAP!</p>
                <a class="btn btn-primary">Get Clients</a>
            </div>
            <div class="col-sm-6">
                <img src="/images/vincent-ghilione-bAEG-LbgQ7o-unsplash.jpg" alt="">
            </div>
        </div>
    </div>
</div>
<%- include('../includes/footer.ejs')%>