<%- include('../includes/head.ejs')%>

<div class="container">
    <header>
        <div class="header-container">
            <div class="header-title">
                <h2>Get your car fixed like Pap !</h2>
            </div>
            <hr class="border-3 border-white my-4 ml-0 text-left w-25" role="presentation">
            <div class="header-sub__title">
                <h6>Engine-near is a platform to connect the best car mechanics with needy clients  near you, fast, like pap!</h6>
            </div>
        </div>
        <a class="btn btn-primary">About us</a>
    </header>
    <div class="row ">
        <div class="col">

        </div>
        <div class="col">

        </div>
    </div>
</div>
<%- include('../includes/footer.ejs')%>